h1 {
  text-align: center;
  /*color: goldenrod */
  font-family: Verdana;
  font-size: 75px;
  padding: 20px;
  color: burlywood;
}
h2 {
  text-align: center;
  /*color: goldenrod */
  font-family: Verdana;
  font-size: 50px;
  padding: 20px;
  color: burlywood;
}
.carousel {
  width: 960px;
  margin: auto;
}

.w-100 {
  width: 100% !important;
  height: 75vh;
}

.carousel-inner>.item>img {
  width: 960px;
  height: 500px;
}

.carousel-table {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

.navbar-brand {
  font-size: larger;

}

nav ul {
  padding: 0;
  display: flex;
  align-items: right;
  justify-content: space-between;
  list-style-type: none;
  margin-right: 15%;

}

nav li a {
  font-family: Verdana;
  font-size: 16px;
  padding: 50px;
}

nav li a:hover {
  color: goldenrod;
}

.container {
  width: auto;
}

.navbar-custom {
  background-color: lemonchiffon;
  height: 170px;
}

hr {
  margin-top: 0%;
  border-top: 25px solid rgba(0, 0, 0, 0.1);
  background-color: goldenrod;
  margin-bottom: 0%;
}

.row {
  display: flex;
  
}
.row2 {

  justify-content:space-around
 
}
.center {
  margin-left: auto;
  margin-right: auto;
}
#rect{
  width: 300px;
  height: 400px;
  background-color:whitesmoke;
}

.column {
  flex: 25%;
  padding: 5px;
  width: 33%;
  align-items: center;
}

section {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 3%;
  grid-auto-flow: column;
}
.column img {
  width: 400px;
  height: 400px;
  background-size: cover;
}
.column2 img {
  width: 150px;
  height: 150px;
}
.column2 p {
  color:black;
  font-family: Verdana;
  font-size: 20px;
  padding: 5px;
  
}
.column2 p2 {
  color:black;
  font-family: Verdana;
  font-size: 15px;
  padding: 5px;
}
.bt{
  padding: 25px;
}
.calligram{
  max-width: 100%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.column2 button {
  border: 2px solid black;
  color:black;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: block;
}
.column p {
  color:#e2cf77;
  font-family: Verdana;
  font-size: 50px;
}
.img-with-text {
  text-align: center;
}

body {
  overflow-x: hidden;
}

#container {
  margin: 0px auto;
  width: 200px;
  height: 140px;
  border: 10px #333 solid;
}

#videoElement {
  width: 200px;
  height: 140px;
  background-color: #666;

}

.video {
  display: flex;
 flex-direction: row;
}
.frame-border { 
  border:8px solid rgb(248, 211, 46); 

  }
  .grid-container {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
  }
  
  .grid-item {
    color:peru;
    font-family: Verdana;
    text-align: center;
    padding: 10px;
    font-size: 45px;
  }
  .grid-item p{
    color: black;
    font-family: Verdana;
    text-align: center;
    font-size: 20px;
    padding:5px;
  }
  .item1 {
    grid-column: 1 ;
    grid-row: 1;
  }
  .item2{
    grid-column: 2 ;
    grid-row: 1;
  }
  .item3 {
    grid-column: 3;
    grid-row: 1 / span 2;
  }
